[package]
name = "neli"
version = "0.5.0"
edition = "2018"
authors = ["John Baublitz <john.m.baublitz@gmail.com>"]
description = "Type safe netlink library written in Rust"
license = "BSD-3-Clause"
repository = "https://github.com/jbaublitz/neli"
keywords = ["netlink"]
include = [
    "**/*.rs",
    "Cargo.toml",
    "LICENSE",
]

[lib]
name = "neli"
path = "src/lib.rs"

[dependencies]
byteorder = "1.2"
libc = "0.2.66"

[dependencies.smallvec]
version = "0.6"
optional = true

[dependencies.log]
version = "0.4"
optional = true

[dependencies.simple_logger]
version = "1.6.0"
optional = true

[dependencies.lazy_static]
version = "1.4"
optional = true

[dependencies.tokio]
version = "0.3"
features = ["io-util", "stream", "rt-multi-thread", "sync", "net"]
optional = true

[dependencies.futures-util]
version = "0.3"
optional = true

[features]
default = []
async = ["tokio", "futures-util"]
logging = ["log", "simple_logger", "lazy_static"]
netfilter = []
low_heap_buffer = ["smallvec"]
